*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5)
}
.team-item::after ,.news-item:after,.pricing-item:after,.footer-links li:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0;
}
.team-item:hover::after,.news-item:hover::after,.pricing-item:hover::after,.footer-links li:hover:after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
/* ************ header   ************************ */
.header{
    width:100%;
    height:50px;
    background-color:white;
    position: fixed;
    z-index: 20;
}
.logo-img{
    width:100px ;
    height: 47px;
    float: left;
    margin-left: 30px;
}
.list1{
    list-style-type: none;
    float: right;
    margin-right: 150px;
}
.list1 li{
    display: inline-block;
    margin: 10px 0px 0px 10px;
    font-size: 20px;
}
.list1 li a{
    color: rgb(91, 103, 114);
    text-decoration: none;
}
.blog{
    display: block;
    background-color: blue;
    color: #fff;
    padding: 0.5em 1em;
    position: absolute;
    visibility: hidden;
    right: 10%;
    top: 140%;
    border-radius: 10px;
}
.blog-item:hover .blog{
    visibility: visible;
}
.header .list1  li  a:after ,.header  li  a.active:after{
    display: block;
    content:"";
    width:0;
    height:2px;
    background-color:#999;
    margin-top: 2px;
    transition: .5s;
}
.header  .list1  li  a.active:after{
   width:100%;
}
.header .list1  li  a:hover:after{
    width: 100%;
}
/* ************************** Home ******************************** */
.home {
    position: relative; 
    height: 100vh;
    background-image: url(../images/h1.jpg);
    background-size: cover;
}   
.home-content {
 width: 60%;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}   
.home-title {
 color: #fff;
 font-size: 40px;
}   
.home-p {
    margin: 20px 0px;
    color: #d3d3d3;
    letter-spacing: 1px;
}   
.btn {
    width: 150px;
    padding: 15px 0px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 17px;
    text-transform: capitalize;
}   
.home-btn-start {
    margin-right: 10px;
}  
.home-btn-read {
    background-color: blue;
    color: #fff;
}  
.btn:hover {
    opacity: 0.5;
}
/* ************ about sec ************************* */
.about-container{
    width: 90%;
    height: 100vh;
    margin: auto;
}
.about-content{
    overflow:hidden;
}
.about-item{
  float:left;
  width: 27%;
  height: 250px;
  padding: 12px 16px;
  text-align: center;
  position: relative;
  border: 1px solid rgb(156, 155, 155);
  margin: 20px 0px 80px 0px ; 
}
.a1{
    margin-left: 60px;
}
.a2{
    margin: 20px 5% 0px 5%;
}
.about-header{
    transition: color .5s;
}
.about-item i{
    color:   #6195ff;
    font-size: 30px;
    margin: 10px 0px;
}
.about-p{
    color:#999;
    margin: 25px 15px;
}
.read{
    text-decoration: none;
    color: rgb(56, 132, 238);
    font-size: large;
}
.about-item::after , .ser-item::after{
    position: absolute;
    content: "";
    width: 0;
    height:0;
    top: 0;
    left: 0;
    background-color:  #333;
}
.about-item:hover:after{
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: -1;
}
.about-item:hover .about-header{
    color: #fff;
    transition: color 1s;
}
/* //************* Gallary ********************  */
.gallary {
    background-color: #e8e8e8; 
    height: 920px;
    padding:5px 0;
}
.gal-content {
    overflow: hidden;
}
.gal-item{
    width: 30%;
    height: 300px;
    float: left;
    margin-bottom: 20px;
    position: relative;
    padding:20px;
}
.gal-item img{
    width: 100%;
    height: 100%;
}
.gal-item.gg {
    margin: 0 5%;
}
.item-content a i{
    line-height: 40px;
}
.gal-item .item-content{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}
.gal-item:hover .item-content{
    opacity:1;
    visibility: visible;
}
 .item-content .item-info{
    position: absolute;
    left:50%;
    top:50%;
    width: 80%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.item-content .category {
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: 0;
}
.gal-h{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .4s;
}
.item-content a  {
    display: inline-block;
    width:40px;
    height: 40px;
    color: #fff;
    background-color: #6195ff;
    position: relative;
    top:15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .6s;
}
.gal-item:hover .gal-h,.gal-item:hover .item-content a,.gal-item:hover .item-content .category{
   top:0;
   opacity: 1;
   visibility: visible;
}
/* *******************  services sec ****************************/
.ser-container{
    height: 70vh;
    width: 90%;
    margin: auto;
}
.ser-content{
    overflow: hidden;
}
.ser-item{
  width:25%;
  height: 190px;
  float: left;
  margin-bottom: 20px;
  border: 1px solid #a8a8a8 ;
  padding: 30px 15px 30px 70px;
  position: relative;
}
.s1{
    margin-left: 70px;
}
.s2{
    margin: 0%  5%;
}
.ser-item i {
    font-size: 35px;  
    position: absolute;
    left:15px;
    top:26px;
    color:#6195ff; 
}
.ser-header{
    margin-bottom: 15px;
    transition: 1s;
}
.ser-p{
 color: #999;
 text-transform: capitalize;
 margin-bottom: 15px;
 line-height: 1.5;
 font-size: 17px;
}
.ser-item:hover::after{
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: -1;
}
.ser-item:hover .ser-header{
    color: #fff;
    transition: color 1s;
}
/* ************** why sec ************* */
.why-sec{
    background-color: #f9f9f9;
    margin-top: 300px;
    height:700px;
}
.why-item{
    width:50%;
    float:left;
}
.why-item .title1,.p1{
    text-align:left;
}
.why-item .p1{
    margin: 0 0 45px 0;
}
.why-description{
    padding-right: 20px;
    color:#999;
    line-height: 1.4;
    font-size: 20px;
    margin-bottom: 20px;
}
.why-list {
    list-style: none;
}
.why-list li i {
    border: 1px solid #6195ff;
    color: #6195ff;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height:20px;
}
.why-list li{
    margin-bottom: 13px;
    color: #999;
    font-size: 18px;
}
.why-item .why-item-img{
    margin: 100px 0px 0px 200px;
}
.why-item .why-bubble{
    margin-left: 150px;
}
.why-img {
    width: 280px;
    height: 420px;
}
.why-bubble{
    list-style: none;
    text-align: center;
}
.why-bubble li{
    width:10px;
    height:10px;
    display: inline-block;
    background-color: #a8a8a8;
    margin: 10px 5px;
    border-radius: 50%;
}
.why-bubble li.active{
    background-color: #6195ff;
}
.why-bubble li:hover{
    background-color: #6195ff;
}
/* ********** Statistics ************ */
.statistics {
    position: relative;
    background-image: url(../images/statistic.jpg);
    height:350px;
    background-size: cover;
    background-attachment: fixed;
}
.statistics-content{
    overflow:hidden;
    padding-top: 130px;
}
.statistic-item {
    width: 25%;
    float: left;
    text-align:center;
}
.statistic-item .icon{
    color:#6195ff;
    margin-bottom: 15px;
    font-size: 40px;
}
.statistic-item-title{
    font-weight: bold;
    font-size: 30px;
}
.statistic-item-text,.statistic-item-title {
    color: #fff;
}
/* ******************* price ********************* */
.pricing {
    background-color: #e8e8e8;
    padding:30px 0;
}
.pricing-content{
    overflow: hidden;
}
.pricing-item{
    float: left;
    width:30%;
    padding:30px 15px;
    border: 1px solid #a8a8a8;
    text-align: center;
    position: relative;
}
.pricing-span {
    text-transform: uppercase;
    font-size: 17px;
    color:#999;
}
.pricing-cost{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding:12px 0;
    margin: 20px auto;
    border: 2px solid #6195ff;
}
.doller{
    font-size: 50px;
}
.night{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.pricing-list{
    list-style: none;
}
.pricing-btn{
    border: 2px solid #6195ff;
    margin: auto;
    padding:4px;
    background-color: none;
    display: block;
    width: 120px;
    margin-top: 15px;
    transition: color .5s;
}
.pricing-item.col2{
    margin: 0 5%;
}
.pricing-list li{
    color:#999;
    line-height: 1.8;
}
.pricing-item:after{
    background-color: #0b0c0c;
    transition: .5s;
}
.pricing-item:hover .pricing-span{
    color: #6195ff ;
}
.pricing-item:hover .pricing-cost{
    color:  #6195ff;
    transition: 1s;
}
/* *********** section8 **************  */
.section8 .overlay{
    background-color: rgba(0,0,0,0.7)
}
.section8 {
    position: relative;
    background-image: url(../images/section8.jpg);
    height:400px;
    background-size: cover;
    background-attachment: fixed;
}
.section8-content{
    overflow:hidden;
    padding-top: 130px;
}
.section8-item {
    float: left;
    width: 50%;
    color: #fff;
    padding-right: 20px;
    padding-top: 55px;
    margin-bottom: 110px;
    margin-top: -120px;
}
.section8-img{
   padding:90px 20px 10px 150px;
   position:relative;
   line-height: 1.4;
   margin-bottom: 20px;
}
.section8-img img{
   position: absolute;
   top: 82px;
   left: 65px;
   border-radius: 50%;
}
.section8-p{
   text-transform: capitalize;
   line-height: 1.5;
   margin-left: 76px;
   font-size: 14px;
}
.section8-img span{
   color: #6195ff;
}
/* -----------------   Team-sec         ------------ */
.container{
    width: 80%;
    margin: auto;
   height: 100vh;
}
.title1{
    font-size: 50px;
    text-align: center;
    margin-top: 90px;
}
.p1{
    width:60px;
    height: 4px;
    background-color: blue;
    margin: auto;
    margin-bottom: 80px; 
}
.team-content{
    overflow:hidden;
}
.team-item{
    float:left;
    width: 25%;
    background-color: rgb(207, 207, 205);
    padding: 12px 16px;
    text-align: center;
    position: relative;
}
.d1{
    margin-left: 80px;
}
.d2{
    margin: 0px 5%;
}
.team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-img img{
    width: 100%;
}
.team-item .overlay{
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    visibility: hidden;
}
.team-item:hover .overlay{
    visibility: visible;
}
.overlay a{
    display: block;
    background-color: rgb(56, 132, 238);
    color: white;
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
}
.overlay a i {
    line-height: 40px;
}
.team-info-p{
    color: rgb(143, 142, 142);
}
.team-item:hover .team-info-p{
    color: blue;
}
.team-item:hover .team-info-h{
    color:white;
}
.team-item:hover::after{
    transition: 2s;
}
/*  ************* news ****************** */
.news .container{
    margin-bottom: 260px;
}
.news-content{
    overflow: hidden;
}
.news-item{
    float: left;
    width: 30%;
    background-color: #fff;
    position: relative;
}
.news-item-img{
    width: 100%;
    margin-left: 23px;
}
.news-list{
    list-style: none;
    margin: 10px 0;
}
.news-list li{
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
}
.news-list li  i{
    color: #6195ff;
}
.news-info{
    padding: 20px;
}
.news-h{
    font-weight: bold;
    margin: 20px 0;
    margin-bottom: 25px;
}
.news-p{
    color: #999;
    margin-bottom: 20px;
    line-height: 1.5;
}
.news-link{
    color: #6195ff;
    text-decoration: none;
}
.news-item.mg{
    margin: 0 5%;
}
.news-item:after{
    background-color: #6195ff;
    transition: 1s;
}
/* footer ************ */
.footer-img{
    width: 250px;
    height: 150px;
}
.footer{
    background-color: #7c7a7a;
    text-align: center;
    padding: 60px 0;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}
.footer-links li{
    position: relative;
    display: inline-block;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6195ff;
    z-index: 5;
}
.footer-links li a{
    display: block;
    width:100%;
    height: 100%;
    color: #fff;
    line-height: 20px;
    margin: 0px 8px;
    padding: 15px 15px 0px 0px;
    font-size: 22px;
}
.footer-links li:after{
    transition: .5s;
    background-color: #0954ec;
    height: 100%;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.footer-links li:hover:after{
    opacity: .7;
    z-index: -1;
}
.footer p{
    color:#fefefe;
    font-size: 12px;
    text-transform: uppercase;
}

